:root {
	--card-height: 25vw;
	--card-margin: 4vw;
	--card-top-offset: 1em;
	--numcards: 5;
	--outline-width: 0px;
  }
  
  #cards {
	padding-bottom: calc(var(--numcards) * var(--card-top-offset));
	/* Make place at bottom, as items will slide to that position*/
	max-width: 1080px;
  }
  
  #card_1 {
	--index: 1;
  }
  
  #card_2 {
	--index: 2;
  }
  
  #card_3 {
	--index: 3;
  }
  
  #card_4 {
	--index: 4;
  }
  
  #card_5 {
	--index: 5;
  }
  
  .card {
	position: sticky;
	top: 0;
	padding-top: calc(var(--index) * var(--card-top-offset));
	height: var(--card-height);
  }
  
  #cards {
	list-style: none;
	outline: calc(var(--outline-width) * 10) solid;
	display: grid;
	grid-template-columns: 1fr;
  }
  
  .card__content {
	box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
	background: rgb(255, 255, 255);
	border-radius: 1em;
	overflow: hidden;
	display: grid;
	grid-template-areas: "text img";
	grid-template-columns: 1fr;
	grid-template-rows: auto;
  }
  
  .card__content > div {
	grid-area: text;
	width: 80%;
	place-self: center;
	text-align: center;
  }
  
  .card__content > figure {
	grid-area: img;
	overflow: hidden;
	
  }
  
  .card__content > figure > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
  }
  
  
  h2 {
	font-weight: 500;
	font-size: 3.0em;
  }
  
  p {
	font-family: sans-serif;
	font-weight: 500;
	font-size: 1.2em;
	line-height: 1.42;
  }
  


  
  


